<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.linsh.components">

    <application>
        <activity android:name="com.linsh.activity.impl.ComponentActivity" />
        <activity android:name="com.linsh.fragment.FragmentComponentActivity" />
    </application>
</manifest>
